---
import Layout2 from "../layouts/Layout2.astro";


let cookie = Astro.cookies.get("ruleta");

let {apostes, boles} = JSON.parse(cookie.value); 

let gameData = apostes.map((e,i)=>({aposta: e, bola: boles[i]}))
---

<Layout2>

	<h1>Jugades anteriors</h1>

	<a href="/neteja">Neteja historial</a>
	<br />
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Aposta</th>
				<th>Bola</th>
			</tr>
			<tbody>
				{
					gameData.map((jugada) => (
						<tr>
							<td>{jugada.aposta}</td>
							<td>{jugada.bola}</td>
						</tr>
					))
				}
			</tbody>
		</thead>
		
	</table>
</Layout2>
